@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  color: #fff;
  font-family: "Macondo", cursive;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.container {
  height: fit-content;
  width: 500px;
  box-shadow: #40dfef 0px 50px 100px -20px, #01baef 0px 30px 60px -30px,
    #01baef 0px -2px 6px 0px inset;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-border-radius: px1;
}

.container form {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2.5rem;
}

.container form input {
  padding: 0rem 4.5rem;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  color: #380036;
  caret-color: #380036;
  font-family: unset;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.container form input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.container form button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.4rem;
  background-color: #fff;
  transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  color: rgb(191, 189, 189);
  border: none;
}

.container form button:hover {
  cursor: pointer;
  background-color: #0cbaba;
  color: #fff;
}

.container .conditions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  font-size: 1.1rem;
}

.container .conditions .city {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.container .simple {
  text-align: center;
  transform: translateY(4rem);
  -webkit-transform: translateY(4rem);
  -moz-transform: translateY(4rem);
  -ms-transform: translateY(4rem);
  -o-transform: translateY(4rem);
  color: #2a2550;
}
